body{
    font-size: 16px;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #161616;
    color: #ffffff;
    font-family: 'Saira Semi Condensed', Calibri, sans-serif;
    text-transform: uppercase;
    overflow: hidden;
}

main .top{
    position: relative;
    height: 15vh;
}

main .top #logo-alphaclock{
    position: absolute;
    top: 50%;
    left: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20%;
}

main .content{
    position: relative;
    height: 75vh;
}

main .bottom{
    position: relative;
    height: 10vh;
}

main .content table {
    font-size: 2rem;
    position: absolute;
    border: none;
    box-sizing: border-box;
    height: 650px;
    width: 650px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

main .content table tr{
    border: none;
    box-sizing: border-box;
}

main .content table tr td{
    border: none;
    box-sizing: border-box;
    text-align: center;
    color: rgba(221, 185, 31, .1);
    -webkit-transition: color 1s ease-in-out;
    -moz-transition:  color 1s ease-in-out;
    -ms-transition:  color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
}

main .content table tr td.on{
    color: rgba(221, 185, 31, 1);
}

main .bottom #link-fg{
    position: absolute;
    width: 80px;
    height: 40px;
    bottom: 0;
    right: 50px;
}

main .bottom #link-fg #logo-fg{
    height: 100%;
}


/* MEDIA QUERIES */

@media screen and (max-width: 690px){
    main .content table {
        font-size: 1.8rem;
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 560px){
    main .content table {
        font-size: 1.5rem;
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 470px){
    main .content table {
        font-size: 1.2rem;
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 380px){
    main .content table {
        font-size: 1.2rem;
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-height: 780px) and (min-width: 800px){
    main .content table {
        font-size: 1.8rem;
        width: 550px;
        height: 550px;
    }
}

@media screen and (max-height: 630px) and (min-width: 800px){
    main .content table {
        font-size: 1.5rem;
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-height: 530px) and (min-width: 800px){
    main .content table {
        font-size: 1.2rem;
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-height: 430px) and (min-width: 400px){
    main .content table {
        font-size: 1rem;
        width: 270px;
        height: 270px;
    }
}